/* Mobile optimizations */
body { 
    background-color: #000; 
    color: white; 
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
input, button, textarea { outline: none; }
